.manage-schedule-container {
  .m-s-schedule {
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
  .pick-hour-container {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    button {
      padding: 5px 10px;
      border: 1px solid black;
      &.active {
        background-color: orange;
      }
    }
  }
}
