.preview-img-container {
  //   display: flex;
  .label-upload {
    padding: 5px;
    border-radius: 3px;
    background: #ddd;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .btn-warning {
    background-color: #ffc107 !important;
  }
  .preview-image {
    height: 50px;
    width: 100%;
    background: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}
